@model Supp.Site.Models.GoogleDriveAuthDto

@{
    ViewData["Title"] = "Details Google Drive Auth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>GoogleDriveAuthDto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client_secret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client_secret)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="text-danger">
    @Html.ValidationSummary(false)
</div>
