@model Supp.Models.ExecutionQueueDto

@{
    ViewData["Title"] = "ExecutionQueue Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Arguments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Arguments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Output)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Output)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Host)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StateQueue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateQueue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="text-danger" style="padding:30px;">
    @Html.ValidationSummary(false)
</div>
