@model EURIS.Entities.Product
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Product Details";
}

<h2>Product Details</h2>
<br />
<fieldset>
    <legend>Product</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>
    <br />
    <div class="display-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { code = Model.Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
