@model Supp.Site.Models.AuthenticationDto

@{
    ViewData["Title"] = "Authentication Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PasswordExpiration)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PasswordExpiration)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PasswordExpirationDays)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PasswordExpirationDays)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Enable)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Enable)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().UserFullName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Users.Where(_ => _.Id == model.UserId).FirstOrDefault().UserFullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="text-danger" style="padding:30px;">
    @Html.ValidationSummary(false)
</div>